* {
    box-sizing: content-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgb(55 19 138) 15%, rgb(120, 32, 220) 34%, rgb(40 5 80) 88%);
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

header {
    height: 182px;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, #090113 1%, #554e4e 42%, #000000 94%);
    box-shadow: 0 0 12px 7px #490DB2;
}

.page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 196, 0);
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    padding-top: 22px;
}

#main-nav {
    display: flex !important;
    gap: 22px !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 8px auto 50px auto !important;
    font-family: "Cinzel Decorative", serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.navigation-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: rgb(223, 190, 7);
    text-decoration: none !important;
    padding: 15px 20px !important;
    flex-wrap: nowrap !important;
    border: 3px solid rgb(11, 7, 134);
    box-shadow: 0 0 7px 4px rgb(223, 190, 7);
    border-radius: 5px;
    max-width: 220px !important;
    width: 152px !important;
    text-shadow: 9px 3px 6px #000000;
    background-image: linear-gradient(to bottom, #510d71,#9641e0 159%);
}

#email-input {
    width: 85%;
}

#password-input {
    width: 85%;
}

@media screen and (max-width: 988px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-nav {
        max-width: 150%;
        width: 90%;
    }

    #main-nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-height: 150%;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 38px;
    }

    #main-nav {
        max-width: 150%;
        width: 90%;
        flex-flow: column wrap;
        gap: 32px;
        margin-bottom: 62px;
    }

    #main-nav a {
        display: flex;
        text-align: center;
        padding: 25px 96px;
        max-height: 150%;
        height: 25px;
        width: 77%;
    }
}
@media screen and (max-width: 464px) {
    header {
        height: 506px;
        margin-bottom: 86px;
    }
    
}