

.asphalt-info {
    display: flex;
    color:  white;
    background-color: black;
    border: 4px solid rgb(11, 7, 134);
    padding: 12px;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 20px auto 69px auto;
    box-shadow: 0 0 9px 5px rgb(223, 190, 7);
}

#asphalt-carousel-slides {
    width: 68%;
    margin: 0 auto 100px auto;
    box-shadow: 0 0 7px 6px rgb(223, 190, 7);
    padding: 1px;
    border: 5px solid black;
}

@media screen and (max-width: 988px) {
    .asphalt-info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 18px;
        max-width: 100%;
        width: 88%;
    }
}

@media screen and (max-width: 768px) {
    .asphalt-info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 18px;
        max-width: 100%;
        width: 88%;
    }
}
@media screen and (max-width: 464px) {
    .asphalt-info {
        max-width: 100%;
        width: 77%;
    }
    #asphalt-carousel-slides {
        width: 73%;
    }
}
