html {
	background-color: #52085e;
}

body {
	box-sizing: border-box;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

nav {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	margin: 8px auto 50px auto;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
	color: rgb(21, 201, 232);
	text-decoration: none;
	padding: 10px;
	border: 3px solid rgb(11, 7, 134);
	background-color: black;
	box-shadow: 0 0 7px 4px rgb(223, 190, 7);
	border-radius: 8px;
    max-width: 100%;
    width: 95px;
}

.car-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100%-48);
    width: 35%;
    padding: 15px;
    margin: 65px auto;
}