#search-bar {
    display: flex;
    width: 17%;
    margin: 0 auto;
    height: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    box-shadow: 0 0 7px 4px rgb(223, 190, 7);
    border-radius: 5px;
    padding-left: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
}

::placeholder {
    color: white;
}

.garage-levels {
    display: flex;
    flex-direction: column;
}

.main-heading {
    color: rgb(21, 201, 232);
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 30px;
}

div .xp-title {
    display: flex;
    box-shadow: 0 0 7px 8px rgb(223, 190, 7);
    padding-top: 15px;
    padding-bottom: 15px;
    flex-direction: row;
}

.xp-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding-left: 300px;
    background-color: black;
    flex-wrap: nowrap;
    border-top: 2px solid rgb(21, 201, 232);
    border-bottom: 2px solid rgb(21, 201, 232);
    margin-bottom: 50px;
}

.xp-requirement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 500px;
    color: white;
    font-size: 20px;
    margin-left: 1000px;
}

.sub-heading {
    justify-content: left;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 35px;
    color: rgb(223, 190, 7)
}

.car-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}

div .car-images {
    margin: 0 10px;
    width: 390px;
    margin-bottom: 30px;
}

.car-images {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 95%;
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 7px 4px rgb(223, 190, 7);
}

.car-images-caption {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    border: 3px solid rgb(11, 7, 134);
    background-image: linear-gradient(to bottom, #25034b 31%, #37097E 69%, #3B0C9D 86%, #3C0B8F 117%, #490DB2);
    box-shadow: 0 0 7px 4px rgb(11, 139, 60);
    border-radius: 8px;
    width: 79%;
    padding: 10px 15px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1463px) {

    .main-heading {
        margin-top: 22px;
    }
    .car-images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 130%;
        flex-flow: row wrap;
        width: 76%;
        margin-bottom: 10px;
        padding-left: 90px;
        padding-right: 90px;
    }
    /* div .car-images {
        flex-flow: row;
        width: 60%;
    } */
    .car-images {
        max-width: 100%;
    }
    .car-images-caption {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 988px) {
    .garage-levels {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 0 auto;
    }
    .sub-heading {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 22px;
        margin-bottom: 37px;
        justify-content: center;
        align-items: center;
    }
    .car-images-container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-flow: column wrap;
        margin-bottom: 10px;
    }

    div .car-images {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 75%;
        margin: 0 auto;
    }

    .car-images {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        ;
    }

    .car-images-caption {
        font-size: 28px;
        margin-top: 15px;
        margin-bottom: 125px;
        border: 3px solid rgb(11, 7, 134);
        background-image: linear-gradient(to bottom, #25034b 31%, #37097E 69%, #3B0C9D 86%, #3C0B8F 117%, #490DB2);
        box-shadow: 0 0 7px 4px rgb(223, 190, 7);
        border-radius: 8px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    margin: 90px;
}

@media screen and (max-width: 768px) {
    .garage-levels {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .car-images-container {
        display: flex;
        justify-content: center;
        max-width: 100%;
        flex-flow: column wrap;
    }

    div .car-images {
        max-width: 100%;
        width: 85%;
        margin: 0 auto;
    }

    .car-images {
        display: flex;
        max-width: 100%;
    }
}

@media screen and (max-width: 553px) {
    .car-images-caption {
        text-align: center;
    }
}

@media screen and (max-width: 464px) {
    .main-heading {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .sub-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px auto;
    }
    .car-images-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    div .car-images {
        max-width: 100%;
        margin: 0 auto;
        width: 90%;
    }
    .car-images-caption {
        margin-top: 10px;
        margin-bottom: 70px;
    }
}

