.garage-levels {
    display: flex;
    flex-direction: column;
}

.main-heading {
    color:  rgb(21, 201, 232);
    font-size: 40px;
    margin: 15px 40px;
}

.sub-heading {
    justify-content: left;
    margin: 10px 80px;
    color: rgb(223, 190, 7)
}

.car-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    max-width: 100%;
}

div .car-images {
    margin: 0 10px;
    width: 350px;
}

.car-images {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.car-images-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}




