* {
    box-sizing: content-box;
}

body {
    min-height: 100vh !important;
    background-image: linear-gradient(rgb(10, 4, 81) 44%, rgb(10, 10, 148));
    background-size: cover !important;
    background-attachment: fixed !important;
    box-sizing: border-box !important;
}

header {
    background-color: black;
    height: 182px;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom, #25034b 1%, #37097E 42%, #3B0C9D 94%, #3C0B8F 97%, #490DB2 108%);
}

.page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    padding-top: 22px;
}

#main-nav {
    display: flex !important;
    gap: 22px !important;
    align-items: center !important;
    justify-content: center !important;
    margin: 8px auto 50px auto !important;
    font-family: "Cinzel Decorative", serif !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.navigation-btn {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: rgb(223, 190, 7);
    text-decoration: none !important;
    padding: 15px 20px !important;
    flex-wrap: nowrap !important;
    border: 3px solid rgb(11, 7, 134);
    box-shadow: 0 0 7px 4px rgb(223, 190, 7);
    border-radius: 5px;
    max-width: 220px !important;
    width: 140px !important;
    text-shadow: 1px 2px 2px #45217C;
    background-image: linear-gradient(to bottom, #1d4add,#11d5e3 159%) !important;
}

#email-input {
    width: 85%;
}

#password-input {
    width: 85%;
}




@media screen and (max-width: 988px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-nav {
        max-width: 150%;
        width: 90%;
    }

    #main-nav a {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-height: 150%;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 38px;
    }

    #main-nav {
        max-width: 150%;
        width: 90%;
        flex-flow: column wrap;
        gap: 32px;
        margin-bottom: 62px;
    }

    #main-nav a {
        display: flex;
        text-align: center;
        padding: 25px 96px;
        max-height: 150%;
        height: 25px;
        width: 77%;
    }
}
@media screen and (max-width: 464px) {
    #main-nav {
        font-family: "Cinzel Decorative", serif;
        font-weight: 700;
        font-style: normal;
        max-width: 100%;
    }
    #main-nav a {
        width: 76px;
    }

}