table {
	border: 2px solid rgb(14, 191, 204);
	margin: 60px auto 80px auto;
	border-spacing: 0;
	border-collapse: collapse;
	width: 70%;
	box-shadow: 0 0 20px 14px rgb(223, 190, 7);
}

.table-header {
	color: rgb(21, 201, 232);
	background-color: black;
	text-align: center;
	padding: 15px 80px 20px 80px;
	font-size: 185%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	position: relative;
}

span {
	margin-left: auto;
	margin-right: auto;
}

td {
	text-align: center;
	color: rgb(255, 255, 255);
	border: 1px solid rgb(204, 19, 255);
	padding: 15px 15px 10px 15px;
	text-wrap: wrap;
}
@media screen and (max-width: 464px) {
	 .legend-store-table {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.legend-store-table table {
		width: 20%;
	}
}