#brand-alphabetical {
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-alphabetical a {
    margin: 10px;
    color: rgb(21, 201, 232);
    font-size: 22px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #p, #q, #r, #s, #t, #u, #v, #x, #y, #z {
    margin-left: 10%;
    font-size: 35px;
    color:  rgb(21, 201, 232);
}

ul {
    display: flex;
    margin: 15px ;
    text-decoration: none;
    flex-direction: column;
}

ul li {
 margin-left: 220px;
 color: rgb(223, 190, 7);
 list-style-type: none;
}

ul li p {
    margin-top: 0;
}

@media screen and (max-width: 464px) {
    #brand-alphabetical {
        margin: 0 auto;
        flex-flow: row wrap;
        width: 90%;
    }
    ul {
        margin: 0 auto;
        padding: 0;
    }
    ul li {
        margin-left: auto;
        margin-right: auto;
    }
    ul li p {
        margin: 15px auto;
    }
}